//*********************************************************************//
//                              settings                               //
//*********************************************************************//

// value settings
$primary: #F24C1A;
$white: #fff;
$black: #333;
$gray_dark: #ccc;
$gray_light: #fafafa;
$shadow: 0 0.03rem 0.12rem rgba(0, 0, 0, 0.15);
$easing: cubic-bezier(0.15, 0.95, 0.41, 0.95);

// responsive break points
$phone-max: 767px;
$pad-min: 768px;
$pad-max: 1279px;
$pc-min: 1280px;

// functions
@mixin box-sizing ($value) {
	-webkit-box-sizing: $value;
	box-sizing: $value;}
@mixin transform ($value) {
	-webkit-transform: $value;
	transform: $value;}
@mixin transform-origin ($value) {
	-webkit-transform-origin: $value;
	transform-origin: $value;}
@mixin transition ($value) {
	-webkit-transition: $value;
	transition: $value;}
@mixin transition-transform ($value1,$value2) {
	-webkit-transition: -webkit-transform $value1 $value2;
	transition: transform $value1 $value2;}
@mixin prefix-transition ($value) {
	-webkit-transition: -webkit-$value;
	transition: $value;}
@mixin animation ($value) {
	-webkit-animation: $value;
	animation: $value;}
@mixin display-flex () {
	display: -webkit-flex;
	display: flex;}
@mixin flex-flow ($value) {
	-webkit-flex-flow: $value;
	flex-flow: $value;}
@mixin order ($value) {
	-webkit-order: $value;
	order: $value;}
@mixin flex ($value) {
	-webkit-flex: $value;
	flex: $value;}
@mixin justify-content ($value) {
	-webkit-justify-content: $value;
	justify-content: $value;}
@mixin align-items ($value) {
	-webkit-align-items: $value;
	align-items: $value;}
@mixin align-content ($value) {
	-webkit-align-content: $value;
	align-content: $value;}
@mixin aColor ($value) {
	color: $value;
	&:visited {
		color: $value;}
	&:hover {
		color: lighten($value,15%);}
	&:active {
		color: $value;}
}
@mixin aBgColor ($value) {
	background-color: $value;
	&:visited {
		background-color: $value;}
	&:hover {
		background-color: lighten($value,15%);}
	&:active {
		background-color: $value;}
}




//*********************************************************************//
//                               global                                //
//*********************************************************************//

* { @include box-sizing (content-box);}
html, body{
	height:100%;}
html {
	line-height: 1;
	font-size: 100px;
}
body {
	font-family: -apple-system,Helvetica,Arial,"PingFang SC","Source Han Sans SC","Microsoft YaHei","WenQuanYi MicroHei",sans-serif;
	line-height: 1.6;
	font-size: 0.16rem;
	color: $black;
	background: $white;}
a {
	color: $primary;
}
input, textarea, button {
	font-family: -apple-system,Helvetica,Arial,"PingFang SC","Source Han Sans SC","Microsoft YaHei","WenQuanYi MicroHei",sans-serif;}
::selection {
	background: $primary;
	color: $white;}
::-moz-selection {
	background: $primary;
	color: $white;}




//*********************************************************************//
//                             components                              //
//*********************************************************************//

// layout
// phone
@media only screen and (max-width: $phone-max){
	.bg_wrap {
		padding: 0.4rem 0.2rem;
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.bg_wrap {
		width: 11.7rem;
		margin: 0 auto;
		padding: 0.6rem 0;
	}
}




//*********************************************************************//
//                               header                                //
//*********************************************************************//

.header {
	background: #0D6894;
	.bg_wrap {
		@include display-flex ();
		@include flex-flow (row wrap);
		@include justify-content (space-between);
		@include align-items (center);
		height: 100%;
		padding-top: 0;
		padding-bottom: 0;
		img {
			display: block;
			height: 100%;
		}
		.apply {
			display: block;
			border: 2px solid #164359;
			color: $white;
			text-align: center;
		}
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.header {
		height: 0.5rem;
		h1 {
			height: 30%;
		}
		.apply {
			padding: 0.02rem 0.1rem;
			font-size: 0.12rem;
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.header {
		height: 0.8rem;
		h1 {
			height: 40%;
		}
		.apply {
			padding: 0.05rem 0.2rem;
			font-size: 0.2rem;
		}
	}
}




//*********************************************************************//
//                               sign_up                               //
//*********************************************************************//

.sign_up {
	background-color: #121121;
	background-repeat: no-repeat;
	.bg_wrap {
		.instruction {
			font-weight: bold;
			color: $white;
			em {
				color: #94202B;
			}
		}
		.form {
			overflow: hidden;
			background: $white;
			border-radius: 0.04rem;
			position: relative;
			h2 {
				text-align: center;
			}
		}
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.sign_up {
		background-position: center top;
		background-size: 300%;
		.bg_wrap {
			.instruction {
				padding-bottom: 0.2rem;
				font-size: 0.2rem;
			}
			.form {
				h2 {
					margin: 0.2rem 0;
					font-size: 0.16rem;
				}
			}
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.sign_up {
		background-position: center center;
		background-size: cover;
		.bg_wrap {
			@include display-flex ();
			@include justify-content (space-around);
			@include flex-flow (row wrap);
			@include align-items (center);
			.instruction {
				@include flex (0 1 50%);
				padding-bottom: 2.5rem;
				font-size: 0.4rem
			}
			.form {
				@include flex (0 1 45%);
				max-width: 3.8rem;
				h2 {
					margin: 0.2rem 0;
					font-size: 0.24rem;
				}
			}
		}
	}
}




//*********************************************************************//
//                                intro                                //
//*********************************************************************//

.intro {
	background: #0D6894;
	h2 {
		color: #164359;
		font-weight: bold;
	}
	p {
		margin: 0.2rem 0;
		color: $white;
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.intro {
		.text {
			h2 {
				font-size: 0.24rem;
			}
			p {
				font-size: 0.12rem;
			}
		}
		img {
			width: 100%;
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.intro {
		.bg_wrap {
			@include display-flex ();
			@include justify-content (space-between);
			@include flex-flow (row wrap);
			@include align-items (flex-start);
		}
		.text {
			@include flex (0 1 55%);
			h2 {
				font-size: 0.48rem;
			}
			p {
				font-size: 0.14rem;
			}
		}
		img {
			width: 4.7rem;
		}
	}
}




//*********************************************************************//
//                                data                                 //
//*********************************************************************//

.data {
	img {
		width: 100%;
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.data {
		.img_PC {
			display: none;
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.data {
		.img_mobile {
			display: none;
		}
	}
}




//*********************************************************************//
//                                career                               //
//*********************************************************************//

.career {
	background: #0D6893;
	.bg_wrap {
		position: relative;
	}
	h2 {
		color: $white;
		font-weight: bold;
	}
	img {
		width: 100%;
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.career {
		h2 {
			font-size: 0.24rem;
			text-align: center;
		}
		.img_PC {
			display: none;
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.career {
		margin-top: 0.8rem;
		padding-top: 1rem;
		h2 {
			width: 48%;
			padding: 0.2rem 2.6rem 0.2rem 0.6rem;
			background: #184358;
			font-size: 0.4rem;
			position: absolute; 
			left: -0.6rem;
			top: -1.8rem;
		}
		.img_mobile {
			display: none;
		}
	}
}




//*********************************************************************//
//                                intro2                               //
//*********************************************************************//

.intro2 {
	h2 {
		color: #164359;
		font-weight: bold;
	}
	p {
		margin: 0.2rem 0;
		color: #164359;
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.intro2 {
		.text {
			h2 {
				font-size: 0.24rem;
			}
			p {
				font-size: 0.12rem;
			}
		}
		img {
			width: 100%;
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.intro2 {
		.bg_wrap {
			@include display-flex ();
			@include flex-flow (row wrap);
			@include justify-content (space-between);
			@include align-items (flex-start);
		}
		.text {
			@include flex (0 1 55%);
			h2 {
				font-size: 0.48rem;
			}
			p {
				font-size: 0.14rem;
			}
		}
		img {
			width: 4.7rem;
		}
	}
}





//*********************************************************************//
//                               footer                                //
//*********************************************************************//

.footer {
	background: #CFC4B7;
	color: #4d4037;
	a {
		color: #005099;
	}
	.bg_wrap {
		@include display-flex ();
		@include justify-content (space-between);
		@include align-items (flex-start);
	}
	h3 {
		font-weight: bold;
	}
	.follow {
		img {
			width: 1rem;
		}
	}
}
// phone
@media only screen and (max-width: $phone-max){
	.footer {
		font-size: 0.12rem;
		.bg_wrap {
			@include flex-flow (column wrap);
		}
		.logo_footer {
			width: 100%;
		}
		h3 {
			padding-bottom: 0.05rem;
			font-size: 0.16rem;
		}
		.contact {
			margin: 0.2rem 0;
		}
	}
}
// pad and pc
@media only screen and (min-width: $pad-min){
	.footer {
		font-size: 0.16rem;
		.bg_wrap {
			@include flex-flow (row wrap);
		}
		.logo_footer {
			width: 3.6rem;
		}
		h3 {
			padding-bottom: 0.2rem;
			font-size: 0.2rem;
		}
	}
}